.topnav {
    background-color: #b1534c;
    overflow: hidden;
  }

  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #c40d0d;
    color: black;
  }
  
  .topnav a.active {
    background-color: #f90404;
    color: white;
  }

  html,body{
    background-color: #333;
    margin: 0 !important;
    padding: 0px !important;
    height: 100%;
  }

  footer {
    position:absolute;
    height:50px;
    line-height:50px;
    background:black;
    color:white;
    text-align:center;
    left:0;
    width:100%;
  }

  footer.bottom {
    bottom:0;
    }

    label{ color:grey;}

    input[type = "radio"]{ display:none;}

    h4{
      color: red;
    }